<body data-spy="scroll">
        <div id="preloader"></div>
        <!-- Static navbar -->
        <nav class="navbar navbar-default navbar-fixed-top scrolled">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav smooth-scroll">
                        <li><a href="#about">About</a></li>
                        <li><a href="#portfolio">Portfolio</a></li>
                        <li><a href="#services">Workflow</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>

                </div><!--/.nav-collapse -->
            </div><!--/.container -->
        </nav><!--/nav end -->

        <section id="about" class="about-section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        <div class="text-center my-name">
                          <h3><span>BRIAN SIMMONS</span></h3>
                        </div>
                        <div class="separator"></div>
                        <div class="row">
                            <div class="col-xs-11 col-xs-offset-1 intro-text">
                                <p>
                                  Hello! I'm a Web Developer with experience in a wide variety of technologies and development environments.
                                  <br><br>
                                  I'm currently looking for opportunities; here's a list of technologies I am proficient with: <br>
                                </p>
                                <br>
                            </div>
                            <div class="col-xs-12 col-sm-6 wow animated fadeInLeft" data-wow-delay="0.3s">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="0" style="width: 100%;">
                                        Ruby on Rails
                                    </div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                                        Javascript
                                    </div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                                        SQL / PostgreSQL
                                    </div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                                        Git / Github
                                    </div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                                        HTML / CSS
                                    </div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                                      Axure Prototyping
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 col-xs-12 wow animated fadeInRight" data-wow-delay="0.3s">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="0" style="width: 100%;">
                                        Rspec / Capybara
                                    </div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                                        React.js / jQuery
                                    </div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                                        MySQL / Oracle
                                    </div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                                        API Integration & Creation
                                    </div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                                        Bootstrap
                                    </div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                                        Fluent English & Spanish
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--end about section-->

        <section class="portfolio" id="portfolio">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text-center wow animated fadeIn" data-wow-delay="0.1s">
                        <h1>Here's some of my recent work:</h1>
                    </div>
                </div>
                <div class="separator"></div>
            </div>
            <div class="container">
                <div class="row portfolio-container"> <!--Portfolio Item START-->
                  <a href="http://mealslice.com/">
                    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-4">
                        <div class="portfolio-image"><!--image-->
                          <%= image_tag "w1.png", class: "img-responsive", alt:"" %>

                        </div>
                    </div>
                    <!--description-->
                    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 description-container">
                      <strong>MealSlice</strong> was built using:
                        <ul>
                          <li>Ruby on Rails 5</li>
                          <li>PostgreSQL</li>
                          <li>jQuery</li>
                          <li>Bootstrap</li>
                          <li>Unique Macronutrient Algorithm</li>
                          <li>HTML/CSS</li>
                          <li>Fat Secret API integration</li>
                        </ul>
                        Nutrition calculator with a unique algorithm that calculates your macronutrient goals based on 9 lifestyle markers and creates a meal plan for you.<br>
                        This app has been tested and used by national level athletes as well as regular gym goers.<br>
                    </div>
                  </a>
                </div> <!--Portfolio Item END-->
                <div class="row portfolio-container"> <!--Portfolio Item START-->
                  <a href="https://reactjs-youtube.herokuapp.com/">
                    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-4">
                        <div class="portfolio-image"><!--image-->
                          <%= image_tag "w2.png", class: "img-responsive", alt:"" %>

                        </div>
                    </div>
                    <!--description-->
                    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 description-container">
                      <strong>React Youtube</strong> was built using:
                        <ul>
                          <li>Javascript</li>
                          <li>React.js</li>
                          <li>Youtube API integration</li>
                          <li>Bootstrap</li>
                          <li>HTML/CSS</li>
                          <li>Debouncer</li>
                        </ul>
                        Youtube redone using React.js! <br>Start typing and instantly see search results without page loads.
                    </div>
                  </a>
                </div> <!--Portfolio Item END-->
                <div class="row portfolio-container"> <!--Portfolio Item START-->
                  <a href="http://burritofind.herokuapp.com/">
                    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-4">
                        <div class="portfolio-image"><!--image-->
                          <%= image_tag "w3.png", class: "img-responsive", alt:"" %>

                        </div>
                    </div>
                    <!--description-->
                    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 description-container">
                      <strong>BurritoFind</strong> was built using:
                        <ul>
                          <li>Ruby on Rails 5</li>
                          <li>Bootstrap</li>
                          <li>LocationIQ.org API integration</li>
                          <li>Mapbok.com API integration</li>
                          <li>Squarespace API integration</li>
                          <li>HTML/CSS</li>
                        </ul>
                        This App takes in your address, and finds burritos nearby and plots it in a pirate map for you!
                    </div>
                  </a>
                </div> <!--Portfolio Item END-->
            </div>
            <div class="container portfolio-github">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text-center wow animated fadeIn" data-wow-delay="0.1s">
                        <h1>More stuff in my <a href="https://github.com/Bentopi" class="text-center">Github</a> page!</h1>
                    </div>
                </div>
            </div>
        </section>
        <!--end portfolio section-->
        <section id="services" class="services-section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3 text-center">
                        <h1>You can count on my Apps being:</h1>
                    </div>
                </div>
                <div class="separator"></div>
                <div class="row">
                    <ul class="list-unstyled service-list">
                      <li class="col-sm-4 clearfix service-box">
                          <i class="ion-code-working"></i>
                          <div class="content">
                              <h3>Full Stack</h3>
                              <p>
                                I can develop both the back and front-end of web applications, including Database, Design, API, Styling, etc.
                              </p>
                          </div>
                      </li>
                        <li class="col-sm-4 clearfix service-box">
                            <i class="ion-settings"></i>
                            <div class="content">
                                <h3>Reliable</h3>
                                <p>
                                  I write test suites for my applications to ensure that nothing goes wrong once the site is live.
                                </p>
                            </div>
                        </li>
                        <li class="col-sm-4 clearfix service-box">
                            <i class="ion-ios-flask-outline"></i>
                            <div class="content">
                                <h3>Vision</h3>
                                <p>
                                    I strive to design smart applications from the ground up with scalability and future feature implementation in mind.
                                </p>
                            </div>
                        </li>
                        <li class="col-sm-4 clearfix service-box">
                            <i class="ion-iphone"></i>
                            <div class="content">
                                <h3>Mobile ready</h3>
                                <p>
                                  My Applications are fully responsive and adapt to users viewing on their phones, tablet or desktop computer. I make sure to redesign the UI elements for each viewport.
                                </p>
                            </div>
                        </li>
                        <li class="col-sm-4 clearfix service-box">
                            <i class="ion-ios-cart-outline"></i>
                            <div class="content">
                                <h3>E-commerce</h3>
                                <p>
                                    I can create E-commerce ready websites, integrating modern, secure online payments using the Stripe API.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <!--end services section-->

        <section id="contact" class="contact-section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h1>Feel free to contact me</h1>
                    </div>
                </div>
                <div class="separator"></div>
                <div class="row">
                  <div class="col-xs-4 col-sm-offset-2 col-xs-offset-1">
                    <%= image_tag "avtar.jpg", class: "img-circle", alt:"" %>
                  </div>
                    <div class="col-xs-5 col-xs-offset-1">
                        <p><i class="ion-iphone"></i> (617)-943-9713</p>
                        <p><a href="#">bsimmonsn@gmail.com</a></p>
                        <p>
                            Houston, TX<br> USA, 77040
                        </p>
                        <hr>
                        <ul class="list-inline wow animated fadeInUp" data-wow-delay="0.2s">
                            <li><a href="https://github.com/Bentopi"><i class="ion-social-github"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/brian-simmons"><i class="ion-social-linkedin"></i></a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <footer class="footer">
            <div class="container text-center">
                <span>&copy; Copyright 2017. Brian Simmons.</span>
            </div>
        </footer>

    </body>
