.parallax-inner .parallax-content h2 {
  color: #ffffff;
}
.parallax-inner .parallax-content h1 {
  color: #ffffff;
}
body {
  color: #ecf0f1;
}
.folio-box {
  margin: 10px;
}

.intro-content {
  width: 70%;
}

@media only screen and (min-width : 768px) {
  .parallax-inner .parallax-content h2 {
    font-size: 5em;
  }
    }

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
